.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

    
img{
  width: 400px;
  height: 300px;
}

a:hover {
  color: palegoldenrod;
  text-decoration: none;
}

h2{
  padding: 20px;
  text-align: center;
}
